<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news portal</title>
    <link rel="style" href="{% static "css/demo.css" %}">
    <style>
        h1{
            color :red;
            
        }
    </style>


</head>
<body>
    <h1>
        welcome to news portal
    </h1>
    <ul>
        <li>
            <a href="movie">movies info</a>
        </li>
        <li>
            <a href="game">Sports info</a>
        </li>
        <li>
            <a href= 'natak'>Politics Info</a>
        </li>
    </ul>
</body>
</html>