<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wish for End user</title>
    <style>
        #msg{
            color: seagreen;
            text-align: center;
            text-size-adjust: 20px;
        }
        #date{
            background-color: slateblue;
        }
    </style>
</head>
<body>
    <h1 id="msg">{{insert_msg}}</h1>
    <h1 id="date">current date and time :{{insert_date}}</h1>
    
</body>
</html>
