body {
    background-color: royalblue;

}

.container.jubmotron{
    margin-top: 200px;
    background-color: #e45d34;
    color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

table,tr,td,thead,th{
    border: 3px solid white;
    font-size: 30px;
    color: wheat;
    background-color: rgb(8, 110, 100);
    margin: auto;

}
thead,th{
    text-align: center;
}
