<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add new movie</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/movie.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather/" rel="stylesheet">   
</head>
<body>
    <div class="container" align="center">
        <h1>Add Movie info</h1>
        <form method="POST">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" class="btn btn-success" value="Add movie">
        </form>
    </div>
</body>
</html>