{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>index</title>

        <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Merriweather/" rel="stylesheet"> -->
        <!-- <link rel='stylesheets' href="{% static 'css/movie.css' %}">
    </head>
    <body>
        <div class="container" align="center">
            <div class="jumbotron">
                <h1>Bollywood Movies</h1>
                <p>all movie info</p>
                <a class="btn btn-primary" href='/addmovie' role="button">Movie Add</a>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <a class="btn btn-primary" href='/movielist' role="button">Movie List</a>
            </div>
        </div>
    </body>
</html>