<!DOCTYPE html>
{% load cust_filter %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>movie list</title>
        <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
        <link rel='stylesheet' href="{% static 'css/movie.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Merriweather/" rel="stylesheet">        
    </head>
    <body>
        <h1>
            movies Info
        </h1>
        {% if movie_list %}
        <table>
            <thead>
                <th>Released Date</th>
                <th>Movie Name</th>
                <th>Rating</th>
            </thead>
            {% for movie in movie_list %}
            <tr>
                <td>{{movie.Rdate}}</td>
                <td>{{movie.MovieName}}</td>
                <td>{{movie.Rating}}</td>
            </tr>
            {% endfor %}

        </table>
        {% else %}
        <p>No Movies Found</p>
        {% endif %}
        
    </body>
</html>